.navbar {
    padding-top: 5rem;
    /* .col-sm-6 */
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    width: 50%;
    /* .offset-md-3 */
    margin-left: 25%;
}

a {
    position: relative;
    text-decoration: none;
    transition: color .4s;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #6F92BA;
    transform: scaleX(0);
    transition: all 0.2s cubic-bezier(.82, 0, .12, 1) 0s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.card,
.card-header {
    border-color: #dee2e6;
}

.card-header {
    padding: 1rem 1rem;
    background-color: #f8f9fa;
}

.form-control {
    font-variant-numeric: tabular-nums;
}

table {
    font-variant-numeric: tabular-nums;
}

div.dataTables_wrapper div.dataTables_filter {
    display: inline;
    text-align: left;
    font-variant-numeric: tabular-nums;
    font-size: 0.9rem;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 12ch;
}

div.dataTables_wrapper div.dataTables_info {
    display: inline;
    margin-left: 1ch;
    padding-top: 0;
    font-variant-numeric: tabular-nums;
    font-size: 0.9rem;
}

div.dataTables_wrapper div.dataTables_length {
    display: inline;
    margin-left: 1ch;
    padding-left: 1ch;
    border-left: 1px solid;
    font-variant-numeric: tabular-nums;
    font-size: 0.9rem;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
    font-variant-numeric: tabular-nums;
}

.table.dataTable tbody td.active,
.table.dataTable tbody tr.active td {
    background-color: #6F92BA;
    color: #FFF;
}

.page-item.active .page-link {
    color: #fff;
}